@import "../../../../styles.scss";

.skill-container {
  max-width: 90px;
  min-width: 90px;
  flex-direction: column;

  @include dFlex($gap: 10px);

  &:hover .icon-container {
    transform: translateY(-10px);
  }

  .icon-container {
    @include dFlex();
  }

  p {
    text-align: center;
    font-weight: 700;
  }

  @media (max-width: 1100px) {
    max-width: 80px;
    min-width: 80px;
  }

  @media (max-width: 1000px) {
    max-width: 70px;
    min-width: 70px;
  }
}

.last-icon {
  position: relative;
  &:hover {
    .icon-container {
      transform: translateY(0);
      filter: brightness(10);
    }

    p {
      filter: brightness(10);
    }
    .last-icon-pop-up {
      opacity: 1;
      @include dFlex();
    }
  }
}

.last-icon-pop-up {
  display: none;
  flex-direction: column;
  background-color: #ffffff;
  color: black;
  border-radius: 20px;
  padding: 10px 20px;
  max-width: 180px;
  min-width: 180px;
  position: absolute;
  bottom: 140px;
  left: 0;

  > div {
    @include dFlex($gap: 30px);
  }

  > p {
    font-weight: 400;
  }

  .triangle {
    position: absolute;
    bottom: -15px;
    left: 35px;
  }
}
