<div class="wrap-container">
  <section id="contact" class="wrap">
    <h1>
      <span *ngIf="sharedService.language === 'en'">Contact</span>
      <span *ngIf="sharedService.language === 'de'">Kontakt</span>
    </h1>
    <div class="content">
      <div>
        <h2>
          <span *ngIf="sharedService.language === 'en'"
            >Got a problem to solve?</span
          >
          <span *ngIf="sharedService.language === 'de'"
            >Hast du ein Problem zu lösen?</span
          >
        </h2>
        <p>
          <span *ngIf="sharedService.language === 'en'">
            Contact me through this form, I am interested in hearing from you,
            knowing your ideas and contributing to your projects with my work.
          </span>
          <span *ngIf="sharedService.language === 'de'">
            Kontaktieren Sie mich über dieses Formular. Ich bin daran
            interessiert, von Ihnen zu hören, Ihre Ideen kennenzulernen und mit
            meiner Arbeit zu Ihren Projekten beizutragen.
          </span>
        </p>
        <p>
          <span *ngIf="sharedService.language === 'en'">
            Need a Frontend developer? <span class="bold">Contact me!</span>
          </span>
          <span *ngIf="sharedService.language === 'de'">
            Benötigen Sie einen Frontend-Entwickler?
            <span class="bold">Kontaktieren Sie mich!</span>
          </span>
        </p>
      </div>

      <app-contact-form></app-contact-form>
    </div>

    <a href="#"
      ><div class="green-circle">
        <svg
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7.00002 3.828L2.34302 8.485C1.95255 8.87546 1.31948 8.87546 0.929016 8.485C0.53855 8.09453 0.538551 7.46146 0.929016 7.071L7.29291 0.707106C7.68343 0.316581 8.3166 0.316582 8.70712 0.707106L15.071 7.071C15.4615 7.46147 15.4615 8.09453 15.071 8.485C14.6806 8.87547 14.0475 8.87547 13.657 8.485L9.00002 3.828L9.00002 15C9.00002 15.5523 8.5523 16 8.00002 16C7.44773 16 7.00002 15.5523 7.00002 15L7.00002 3.828Z"
            fill="white"
          />
        </svg></div
    ></a>

    <img
      class="purple-shadow"
      src="../../../assets/33. Purple shadow Footer.png"
      alt=""
    />
  </section>
</div>
