@import "../../../styles.scss";

.wrap-container {
  overflow: hidden;
}

section {
  padding: 100px 100px 170px 100px;
  flex-direction: column;

  @include dFlex();

  > h1 {
    position: relative;
    &::before {
      content: "";
      height: 4px;
      width: 50vw;
      background-color: $primary-color-two;
      border-radius: 10px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: calc(100% + 25px);
    }
  }

  > .content {
    position: relative;
    z-index: 1;
    width: 100%;
    padding-top: 30px;

    @include dFlex($ai: start);

    > div {
      width: 50%;
      padding-right: 75px;

      flex-direction: column;

      @include dFlex($ai: start, $gap: 20px);
    }
  }

  @media (max-width: 1200px) {
    > .content {
      > div {
        padding-right: 25px;
      }
    }
  }

  @media (max-width: 850px) {
    padding: 120px 30px 115px 30px;

    > .content {
      flex-direction: column;
      @include dFlex($gap: 20px);

      > div {
        width: 100%;
        padding-right: 0;
      }
    }
  }
}

.green-circle {
  position: absolute;
  border-radius: 100%;
  border: 2px solid white;
  height: 40px;
  width: 40px;
  bottom: 70px;
  right: 100px;
  cursor: pointer;

  @include dFlex();

  &:hover {
    border: 2px solid $primary-color;

    path {
      fill: $primary-color;
    }
  }

  @media (max-width: 850px) {
    right: 30px;
    bottom: 40px;
  }
}

.purple-shadow {
  position: absolute;
  bottom: 70px;
  left: 80px;
  transform: translate(-50%, 50%);

  @media (max-width: 850px) {
    width: 350px;
    bottom: 10px;
    left: 50px;
  }
}

app-contact-form {
  width: 50%;

  @media (max-width: 850px) {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
