@import "../../../styles.scss";

section {
  height: 100vh;
  position: relative;
  z-index: 1;

  .header {
    padding-top: 110px;
    height: 91vh;

    @include dFlex();
  }
}

app-introduction-card {
  width: 80%;
  height: 100%;

  @include dFlex(start, start);

  @media (max-width: 1200px) {
    padding-top: 130px;
    width: 100%;
  }
}

.img-container {
  height: 100%;
  width: 50%;

  @include dFlex(center);

  .person {
    transition: 0.2s;
    object-fit: cover;
    height: 90%;
    max-height: 80vh;

    position: relative;
    z-index: 0;
  }

  .img-bg {
    height: 80%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
  }

  @media (max-width: 1200px) {
    width: 40%;

    .person {
      max-height: 70vh;
      height: 90%;

      transform: translateX(70px);
    }
  }
}

.icon-line-container {
  width: 100%;
  margin-left: 100px;
  position: relative;

  @include dFlex();
}

.icon-container {
  max-width: 2000px;
  width: 100%;
  position: relative;
  z-index: 10;

  @include dFlex(start, $gap: 32px);

  &::after {
    content: "";
    position: absolute;
    right: calc(100% + 20px);
    transform: translateY(-50%);
    height: 4px;
    width: 100vw;
    background-color: $primary-color-two;
    border-radius: 10px;
    z-index: 10;
  }

  a {
    &:hover {
      transform: scale(1.3);
    }
  }
}

.bg {
  position: absolute;
  right: 0;
  left: 0;
  top: 70%;
  height: 40%;
  width: 100%;
  z-index: 1;
}

.scroll-text {
  font-size: 23px;
  position: absolute;
  right: 20px;
  bottom: 120px;
  transform: rotate(90deg);
  z-index: 10;
  cursor: pointer;

  svg {
    margin-left: 5px;
    transform: rotate(-90deg);
  }

  &:hover {
    transform: rotate(90deg) translateX(20px);
  }
}

.scroll-text-link {
  position: relative;
  z-index: 10;
}

.purple-shadow {
  position: absolute;
  right: 0;
  bottom: -550px;
  transform: translateX(50%);
  z-index: 2;

  @media (max-width: 850px) {
    height: 600px;
    bottom: -700px;
    transform: translateX(60%);
  }

  @media (max-width: 600px) {
    height: 500px;
  }
}

@media (max-width: 1300px) {
  app-introduction-card {
    width: 80%;
  }
}

@media (max-width: 850px) {
  app-introduction-card {
    padding-top: 0;
    width: 100%;

    @include dFlex($ai: center);
  }

  section {
    .header {
      flex-direction: column;
    }
  }

  .img-container {
    height: 45vh;
    width: 100%;
    position: relative;

    .person {
      max-height: 50vh;
      height: 100%;
      transform: unset;
    }
  }

  .bg {
    top: 40vh;
  }

  .scroll-text {
    display: none;
  }
}

@media (max-width: 850px) {
  .email {
    display: none;
  }

  app-introduction-card {
    padding-top: 0;
    width: 100%;

    @include dFlex($ai: start);
  }
}
