<div class="card-container">
  <div class="card">
    <svg
      width="97"
      height="69"
      viewBox="0 0 97 69"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M30.6 68.1H0L28.8 0H48.3L30.6 68.1ZM79.2 68.1H48.6L77.4 0H96.9L79.2 68.1Z"
        fill="#9747FF"
      />
    </svg>

    <p>
      {{ text }}
    </p>

    <div>
      <div class="line"></div>
      <p>
        <span> {{ name }} </span> - <span> {{ position }} </span>
      </p>
    </div>
  </div>

  <div class="img-container">
    <div class="img-circle">
      <img src="../../../../../assets/{{ image }}" alt="" />
    </div>
    <div class="img-line"></div>
  </div>
</div>
