@import "../../../../styles.scss";

.text-container {
  position: relative;
  z-index: 1;
  max-width: 450px;
  flex-direction: column;
  @include dFlex($ai: end);

  .headline-container {
    padding-bottom: 20px;
    @include dFlex(start, $ai: end, $gap: 20px);

    h1 {
      position: relative;

      &::after {
        content: "";
        height: 4px;
        width: 100vw;
        background-color: $primary-color-two;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        transform: translate(30px, -50%);
      }

      @media (max-width: 1200px) {
        font-size: 70px;
      }

      @media (max-width: 1000px) {
        font-size: 60px;
      }

      @media (max-width: 850px) {
        font-size: 45px;
      }
    }

    @media (max-width: 850px) {
      display: none;
    }
  }

  > div {
    flex-direction: column;
    @include dFlex($ai: end, $gap: 40px);

    > div {
      flex-direction: column;
      @include dFlex($ai: end, $gap: 10px);

      > h2 {
        font-size: 32px;
      }
    }
  }

  @media (max-width: 1100px) {
    max-width: 430px;
  }

  @media (max-width: 1000px) {
    max-width: 400px;
  }

  @media (max-width: 850px) {
    width: 100%;
    padding-top: 50px;
    max-width: 100%;

    > div {
      width: 100%;
      text-align: center;
      @include dFlex($ai: center, $gap: 40px);

      > div {
        text-align: center;
        @include dFlex($ai: center, $gap: 10px);
      }
    }
  }
}
