<div class="wrap-container">
  <section id="skills" class="wrap">
    <img
      [@fadeInShadow]="isGreenShadowVisible ? true : false"
      class="green-shadow skill-section-green-shadow"
      src="../../../assets/Green shadow 2.png"
      alt=""
    />

    <div class="mobile-headline-container">
      <h1 *ngIf="sharedService.language === 'en'">My skills</h1>
      <h1 *ngIf="sharedService.language === 'de'">Meine Fähigkeiten</h1>

      <p *ngIf="sharedService.language === 'en'">
        I have gained experience in building projects with different frontend
        technologies and concepts.
      </p>

      <p *ngIf="sharedService.language === 'de'">
        Ich habe Erfahrung in der Erstellung von Projekten mit verschiedenen
        Frontend-Technologien und -Konzepten gesammelt.
      </p>
    </div>

    <div class="icon-container">
      <app-skill-icon
        class="skill-icon-container"
        [@spinIn]="iconStates[i] ? true : false"
        *ngFor="let iconJSON of allIcons; index as i"
        [icon]="iconJSON.icon"
        [iconName]="iconJSON.iconName"
      ></app-skill-icon>

      <app-skill-icon
        class="last-icon"
        [@spinIn]="isLastIconVisible ? true : false"
        [icon]="lastIcon"
        [iconName]="
          sharedService.language === 'en'
            ? 'Continually learning'
            : 'Ständig lernen'
        "
        [lastIcon]="true"
      >
      </app-skill-icon>
    </div>

    <app-skills-text
      [isTitleVisible]="isTitleVisible"
      [isButtonVisible]="isButtonVisible"
      [isTextContainerVisible]="isTextContainerVisible"
    ></app-skills-text>
  </section>
</div>
