<section id="portfolio">
  <h1>Portfolio</h1>
  <p>
    Explore a selection of my work here - Interact with projects to see my
    skills in action.
  </p>
  <div class="all-projects">
    <app-project-card
      *ngFor="let project of projects; let i = index"
      [projectName]="project.projectName"
      [projectDescription]="project.projectDescription"
      [usedTechnologies]="project.usedTechnologies"
      [projectImage]="project.projectImage"
      [githubLink]="project.githubLink"
      [websiteLink]="project.websiteLink"
      [reverse]="i % 2 !== 0"
    ></app-project-card>
  </div>

  <img
    class="purple-shadow"
    src="../../../assets/32 Purple shadow portfolio.png"
    alt=""
  />

  <app-testimonial-list></app-testimonial-list>

  <img class="green-shadow" src="../../../assets/Green shadow 2.png" alt="" />
</section>
