@import "../../styles.scss";

button {
  background-color: $primary-color;
  color: white;
  font-size: 23px;
  box-shadow: 4px 4px 4px 0px #00000040;
  border-radius: 10px;
  padding: 15px 30px;
  cursor: pointer;
  transition: 0.1s ease-out;

  &:hover {
    background-color: $primary-color-two;
    padding: 20px 40px;
  }

  &:active {
    background-color: #ffffff;
    color: black;
    padding: 15px 30px;
  }

  @media (max-width: 650px) {
    font-size: 16px;
  }
}

@media (max-width: 650px) {
  button {
    font-size: 16px;
  }
}

.purple-bg {
  background-color: $primary-color-two;
  color: white;
  font-size: 23px;
  border-radius: 10px;
  padding: 15px 30px;
  cursor: pointer;
  transition: 0.1s ease-out;

  &:hover {
    background-color: $primary-color;
    padding: 15px 30px;
  }

  &:active {
    background-color: #ffffff;
    color: black;
    padding: 15px 30px;
  }

  @media (max-width: 650px) {
    font-size: 16px;
  }
}

.green-border {
  background-color: #0000;
  border: 1px solid $primary-color;
  color: white;
  font-size: 23px;
  border-radius: 10px;
  padding: 15px 30px;
  cursor: pointer;
  transition: 0.1s ease-out;

  &:hover {
    background-color: $primary-color;
    padding: 15px 30px;
  }

  &:active {
    background-color: #ffffff;
    color: $primary-color-two;
    padding: 15px 30px;
  }

  @media (max-width: 650px) {
    font-size: 16px;
  }
}
