<nav class="wrap-container">
  <div class="wrap">
    <a href="#above-the-fold"
      ><img class="logo" src="../../../assets/logo.png" alt="Logo" />
    </a>

    <ul>
      <a href="#about-me" [ngClass]="{ active: isActive('about-me') }">
        <span *ngIf="sharedService.language === 'en'">About me</span>
        <span *ngIf="sharedService.language === 'de'">Über mich</span>
      </a>
      <a href="#skills" [ngClass]="{ active: isActive('skills') }">
        <span *ngIf="sharedService.language === 'en'">Skills</span>
        <span *ngIf="sharedService.language === 'de'">Fähigkeiten</span>
      </a>
      <a href="#portfolio" [ngClass]="{ active: isActive('portfolio') }"
        >Portfolio
      </a>

      <div class="language-selector">
        <span
          (click)="changeLanguage('en')"
          [ngClass]="{ activeLanguage: sharedService.language === 'en' }"
          class="language-option"
          >en</span
        >
        <span>|</span>
        <span
          (click)="changeLanguage('de')"
          [ngClass]="{ activeLanguage: sharedService.language === 'de' }"
          class="language-option"
          >de</span
        >
      </div>
    </ul>

    <div
      class="burger-menu"
      (click)="toggleMenu()"
      [ngClass]="{ open: isMenuOpen }"
    >
      <div class="top-line burger-menu-line"></div>
      <div class="middle-line burger-menu-line"></div>
      <div class="bottom-line burger-menu-line"></div>
    </div>
  </div>
</nav>

<div
  class="mobile-nav"
  (click)="closeMobileNav()"
  [ngClass]="{ open: isMenuOpen }"
>
  <ul>
    <a href="#about-me">
      <span *ngIf="sharedService.language === 'en'">About me</span>
      <span *ngIf="sharedService.language === 'de'">Über mich</span></a
    >

    <a href="#skills">
      <span *ngIf="sharedService.language === 'en'">My skills</span>
      <span *ngIf="sharedService.language === 'de'">Fähigkeiten</span></a
    >

    <a href="#portfolio">Portfolio</a>

    <a href="#contact">
      <span *ngIf="sharedService.language === 'en'">Contact</span>
      <span *ngIf="sharedService.language === 'de'">Kontakt</span></a
    >

    <div class="language-selector" (click)="sharedService.stopEvent($event)">
      <span
        (click)="changeLanguage('en')"
        [ngClass]="{ activeLanguage: sharedService.language === 'en' }"
        class="language-option"
        >en</span
      >
      <span>|</span>
      <span
        (click)="changeLanguage('de')"
        [ngClass]="{ activeLanguage: sharedService.language === 'de' }"
        class="language-option"
        >de</span
      >
    </div>
  </ul>
</div>
